<!-- Product Management Section -->
<div class="mt-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h4 class="mb-0">Carousal Management</h4>
    <button mat-raised-button color="primary" (click)="addEditItem(null)">
      <mat-icon>add</mat-icon> Add Item
    </button>
  </div>

  <app-custom-grid [columns]="columns"
                   [data]="items"
                   [showEdit]="true"
                   [showDelete]="true"
                   [showNote]="true"
                   [noteMsg]="' Click on a row to check prodduct variants '"
                   (edit)="addEditItem($event)"
                   (delete)="onDelete($event.Id)"
                   >
  </app-custom-grid>
</div>
