<div [formGroup]="formGroup" class="file-uploader">
  <label>
    <small>
      {{ Caption }}
    </small>
    <span *ngIf="IsReq" style="color: red" title="required">*</span>
  </label>


  <input type="file"
         [multiple]="multiple"
         [disabled]="disabled"
         (change)="onFileSelect($event)"
         class="file-input"
         [required]="IsReq" />
  <div *ngIf="initialUrls.length > 0" class="file-list mt-2">
    <ul class="list-group">
      <li *ngFor="let url of initialUrls; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center" style="max-width: 80%">
          <img [src]="url?.ImageUrl"
               (click)="previewImage(url.ImageUrl)"
               class="img-thumbnail me-2"
               style="height: 40px; width: 40px; object-fit: cover;" />
          <span class="text-truncate">{{ extractFileName(url.ImageUrl) }}</span>
        </div>

        <button mat-icon-button color="warn" (click)="removeInitialImage(i)" aria-label="Remove file">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>
  </div>


  <div *ngIf="filePreviews.length > 0" class="file-list mt-2">
    <ul class="list-group">
      <li *ngFor="let file of filePreviews; let i = index"
          class="list-group-item d-flex justify-content-between align-items-center">

        <div class="d-flex align-items-center" style="max-width: 80%">
          <img *ngIf="file.previewUrl" [src]="file.previewUrl" (click)="previewImage(file.previewUrl)" class="img-thumbnail me-2" style="height: 40px; width: 40px; object-fit: cover;" />
          <span class="text-truncate">{{ file.file.name }}</span>
        </div>

        <button mat-icon-button color="warn" (click)="removeFile(i)" aria-label="Remove file">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    </ul>

  </div>
</div>
