<div class="container-fluid mt-0">
  <div class="row">
    <!-- Grid 1: Attributes -->
    <div class="col-md-6">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="mb-0">Attributes</h5>
        <button mat-raised-button color="primary" (click)="addEditAttribute(null)">
          <mat-icon>add</mat-icon> Add Attribute
        </button>
      </div>
      <app-custom-grid [columns]="attrColumns"
                       [data]="attributes"
                       [showEdit]="true"
                       [showDelete]="true"
                       (edit)="addEditAttribute($event)"
                       (delete)="onDeleteAttribute($event.AttributeId)">
      </app-custom-grid>
    </div>

    <!-- Grid 2: Attribute Values -->
    <div class="col-md-6">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="mb-0">Attribute Values</h5>
        <button mat-raised-button color="primary" (click)="addEditAttributeValue(null)">
          <mat-icon>add</mat-icon> Add Attribute Value
        </button>
      </div>
      <app-custom-grid [columns]="attrValueColumns"
                       [data]="attributeValues"
                       [showEdit]="true"
                       [showDelete]="true"
                       (edit)="addEditAttributeValue($event)"
                       (delete)="onDeleteAttributeValue($event.ValueId)">
      </app-custom-grid>
    </div>
  </div>
</div>
