<!-- Product Management Section -->
<div class="mt-4">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h4 class="mb-0">User Management</h4>
    <!--<button mat-raised-button color="primary" (click)="addEditUsers(null)">
      <mat-icon>add</mat-icon> Add User
    </button>-->
  </div>

  <app-custom-grid [columns]="columns"
                   [data]="Users"
                   [showEdit]="true"
                   [showDelete]="true"
                   [showNote]="true"
                   (edit)="addEditUsers($event)"
                   (delete)="onDelete($event.ProductId)"
                   >
  </app-custom-grid>
</div>
