/* styles.scss */
.snack-success {
  background-color: #4caf50;
  color: #fff;
}

.snack-error {
  background-color: #f44336;
  color: #fff;
}

.snack-info {
  background-color: #2196f3;
  color: #fff;
}
