<div style="position: relative; width: 100%;">
  <!-- Main Landing Image -->
  <img src="/auth/login image.svg" alt="Landing Image" style="width: 100%; display: block;" />

  <!-- Login Form -->
  <div class="login-form-box">
    <h5 class="mb-3 text-white">Register</h5>
    <form [formGroup]="UserForm" >
      <div class="mb-3">
        <label for="email" class="form-label text-white">Email</label>
        <input type="email"
               id="email"
               class="form-control"
               formControlName="email"
               placeholder="you@example.com" />
        <small class="text-danger" *ngIf="UserForm.get('email')?.touched && UserForm.get('email')?.invalid">
          Please enter a valid email.
        </small>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label text-white">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password"
               placeholder="••••••••" />
        <small class="text-danger" *ngIf="UserForm.get('password')?.touched && UserForm.get('password')?.invalid">
          Password is required.
        </small>
      </div>

      <div class="mb-3">
        <label for="confirmpassword" class="form-label text-white">Confirm Password</label>
        <input type="password"
               id="confirmpassword"
               class="form-control"
               formControlName="confirmpassword"
               (blur)="checkPwdMatch()"
               placeholder="••••••••" />
        <small class="text-danger" *ngIf="(UserForm.get('confirmpassword')?.touched && UserForm.get('confirmpassword')?.invalid) || !checkPwdMatch()">
          Confirm password is required.
        </small>
      </div>

      <div class="d-flex justify-content-between mb-3">
        <a  routerLink="/auth" href="#" style="color: #ff9f00; font-size: 0.9rem;">Login</a>

        <a href="#" style="color: #ff9f00; font-size: 0.9rem;">Forgot Password?</a>
      </div>

      <div class="mb-3 text-center">
        <button type="button" class="btn w-75" style="background-color: #ff9f00; color: white" (click)="onSubmit()">
          Register
        </button>
      </div>
    </form>
  </div>

  <!-- SVG Illustration -->
  <div class="svg-box">
    <img src="/auth/Version control-pana.svg" style="width: 100%; height: 100%; object-fit: contain;" />
  </div>
</div>
